DOMAIN_NAME=youbella.42.fr

MYSQL_DATABASE=wordpress
USER=youbellaUSER
PASSWORD=youbellaPASS
MYSQL_ROOT_PASSWORD=youbellaROOT

WP_USER=youbellaWP
WP_USER_PASSWORD=youbellaWP
WP_USER_EMAIL=younesoubllal@gmail.com
WORDPRESS_VERSION=7.1.2
WP_CLI_VERSION=2.12.0
